{% extends "base.html" %}
{% load static %}

{% block title %} Войдите {% endblock %}

{% block main_content %}
            <h1>Вход</h1>
            {% if form.errors %}
                <p>Ошибка: логин и/или пароль введены неверно. Попробуйте снова</p>
            {% else %}
                <p>Введите логин/пароль:</p>
            {% endif %}
            <form action="." method="post" class="login">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit">Войти</button>
                <a href="{% url 'accounts:register' %}">Зарегистрироваться</a>
            </form>
{% endblock %}